<div>
    <legend>Statistikat</legend>
    <div class="container-fluid">
        <div class="row">
            <div id="main-stats" class="col">
            </div>
        </div>
        <div class="row">
            <div id="division-stats-user" class="col">
            </div>
        </div>
        <div class="row">
            <div id="municipality-stats" class="col">
            </div>
        </div>
        <div class="row">
            <div id="department-stats" class="col">
            </div>
            <div id="division-stats" class="col">
            </div>
        </div>
    </div>
</div>
<script src="/js/lib/highcharts.min.js"></script>
<script src="/js/dashboard.js"></script>