<div>
    <legend>Raportet
    </legend>
</div>
<div>
    <div class="table-responsive">
        <table id="reportsTable" class="table table-striped table-bordered nowrap" width="100%">
            <thead>
                <tr>
                    <th>
                        Numri i lëndës
                    </th>
                    <th>
                        Lënda
                    </th>
                    <th>
                        Komuna
                    </th>
                    <th>
                        Prejardhja
                    </th>
                    <th>
                        Adresuar
                    </th>
                    <th>
                        Lokacioni fizik
                    </th>
                    <th>
                        Përmes
                    </th>
                    <th>
                        Marrësi
                    </th>
                    <th>
                        Data e dokumentit
                    </th>
                    <th>
                        Data e ruajtjes
                    </th>
                    <th>
                        Departamenti
                    </th>
                    <th>
                        Divizioni
                    </th>
                    <th>
                        Vërejtje
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        Numri i lëndës
                    </th>
                    <th>
                        Lënda
                    </th>
                    <th>
                        Komuna
                    </th>
                    <th>
                        Prejardhja
                    </th>
                    <th>
                        Adresuar
                    </th>
                    <th>
                        Lokacioni fizik
                    </th>
                    <th>
                        Përmes
                    </th>
                    <th>
                        Marrësi
                    </th>
                    <th>
                        Data e dokumentit
                    </th>
                    <th>
                        Data e ruajtjes
                    </th>
                    <th>
                        Departamenti
                    </th>
                    <th>
                        Divizioni
                    </th>
                    <th>
                        Vërejtje
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<script src="/js/reports.js"></script>