<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div style="max-width: 500px; padding-top: 50px; margin: 0 auto;" class="col">
                <!-- {% if messages.success %}
                <div role="alert" class="alert alert-success">
                    {% for success in messages.success %}
                    <div>{{ success.msg }}</div>
                    {% endfor %}
                </div>
                {% endif %} {% if messages.error %} -->
                <div role="alert" class="alert alert-danger">
                    <!-- {% for error in messages.error %} -->
                    <div>{{ error }}</div>
                </div>
                    <!-- {% endfor %}
                {% endif %} -->
                <form method="POST">
                    <legend>Rivendosja e fjalëkalimit</legend>
                    <div class="form-group">
                        <label for="password">Fjalëkalimi i ri</label>
                        <input type="password" name="password" id="password" placeholder="Fjalëkalimi i ri" class="form-control" autofocus>

                    </div>
                    <div class="form-group">
                        <label for="confirm">Konfirmo fjalëkalimin</label>
                        <input type="password" name="confirm" id="confirm" placeholder="Konfirmo fjalëkalimin" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Ndrysho fjalëkalimin</button>
                </form>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/bootstrap.js"></script>
</footer>

</html>